<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hurb Dashboard</title>
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="../global.styles.css" />
  </head>
  <body onload="getData()">
    <header>
      <h2>HURB DASHBOARD</h2>
      <div>
        <img src="../Assets/hurb-icon.svg" alt="" srcset="" />
      </div>
    </header>
    <main id="data-items"></main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
<!-- <div class="content-region-list">
            <button class="accordion">
              <div>Rio Grande do Norte</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <div class="list">
                <table>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                </table>
              </div>
            </div>
            <button class="accordion">
              <div>São Paulo</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="accordion">
              <div>Rio de janeiro</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="accordion">
              <div>Minas Gerais</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div> -->
