main .content {
  height: 100%;
}
.custom-row:nth-child(1) .content:nth-child(2) {
  flex: 2;
}
.custom-row:nth-child(2) .content:nth-child(1) {
  flex: 3;
}
main .custom-row {
  display: flex;
  justify-content: space-between;
}
.content + .content {
  margin-left: 10px;
}
main {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  display: grid;
  gap: 10px;
}
main .responsive-hotel-list {
  display: none;
}
main .hotels .input-search {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
input:focus {
  outline: none;
}
main .hotels .hotels-list {
  height: 250px;
  overflow-y: auto;
}
main .hotels .hotels-list .item + .item {
  margin-top: 10px;
}
main .hotels .hotels-list .item {
  display: flex;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
main .hotels .hotels-list .item div {
  height: 65px;
  width: 65px;
  border-radius: 5px;
  background-color: grey;
  margin-right: 6px;
}
main .hotels .input-search input {
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  flex: 1;
  border: none;
  margin-right: 10px;
}
main .hotels {
  padding: 15px;
}
main .analystics-data {
  padding: 15px;
  max-height: 300px;
}
main .analystics-data h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  font-size: 50px;
  color: #fc7821;
}
main .analystics-data h6 {
  margin: 0;
}
main .analystics-data .list .item div {
  background: #fc7821;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  border-radius: 2px;
}
main .analystics-data .list {
  /* padding: 10px; */
}
main .analystics-data .list .item {
  display: flex;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid #4f4f4f4f;
}
main .analystics-data .list .item:last-child {
  border-bottom: none;
}
main .history .table-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  flex-grow: 1;
}
main .history {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .history table {
  width: 100%;
  height: fit-content;
  /* padding: 15px; */
}
main .history table tr {
  width: 100%;
  height: 40px;
  text-align: center;
}

main .history table tr {
  border-bottom: 0.5px solid #7f8284;
}
main .history table tr:first-child {
  border-bottom: none;
}
main .history table tr:last-child {
  border-bottom: none;
}

main .history table tr th {
  background-color: #f3f3f3;
}

main .custom-card {
  background: linear-gradient(90deg, #7de2fc 0%, #b9b6e5 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 25px;
  max-height: 400px;
  max-width: 950px;
}
main .custom-card button {
  font-weight: 600;
  font-size: 15px;

  color: #000000;

  background: #ffffff;
  border-radius: 7px;
  border: none;

  width: 128px;
  height: 40px;
}
main .custom-card h2 {
  font-weight: 600;
  color: #ffffff;
}
main .custom-card .card-content {
  font-weight: 300;
  font-size: 18px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.list-hotels {
  display: flex;
  overflow-x: auto;
}
.list-hotels .item + .item {
  margin-left: 5px;
}
.list-hotels .item div {
  border: 1px solid grey;
  width: 100%;
  height: 80px;
  border-radius: 5px;
}
.list-hotels .item h6 {
  margin: 0;
}
.next-button {
  /* width: 255.04px;
  height: 63px; */

  background: #3468fc;
  border-radius: 10px;
}
.introduction-modal img {
  width: 200px;
}
.introduction-modal h1 {
  font-size: 50px;
  margin-left: 14px;
  color: #000000;
}
.introduction-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  height: 350px;
}
.modal-introduction .modal-body {
  padding: 0;
}
.modal-introduction .modal-content {
  border-radius: 10px;
}
.modal-introduction .carousel-item {
  border-radius: 10px;
}
.modal-introduction .carousel-item button {
  margin: 15px;
  background: #ffffff;
  border-radius: 10px;
  float: right;
  height: 42px;
  width: 170px;
  border: none;
  font-weight: 400;
  font-size: 16px;

  display: flex;
  align-items: center;
  text-align: center;

  justify-content: center;

  color: rgba(0, 0, 0, 0.5);
}
button {
  transition: 150ms;
}
button:active {
  transform: scale(0.9);
}
.introduction-modal h1:last-child {
  color: #fff;
}
.books-list {
  height: 100px;
  overflow-y: auto;
}
.books-list .item + .item {
  margin-top: 5px;
}
.books-list .item h6 {
  margin: 0;
}
.books-list .item {
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(127, 130, 132, 0.1);
}
.option-transaction {
  text-align: center;
}
.custom-radio {
  color: #3468fc;
  border: none;
  border-radius: 7px;
}
.flex-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.list-hotels .item {
  padding: 10px;
  cursor: pointer;
  width: 110px;
  height: 130px;
  border-radius: 5px;
  background-color: rgba(127, 130, 132, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #f6f6f6;
}
header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
header .profile {
}

.responsive-table {
  display: none;
}

@media only screen and (min-width: 768px) {
  main .history table tr th:last-child {
    /* background-color: #000; */
    border-radius: 0 10px 10px 0;
  }
  header .profile svg {
    margin-left: 15px;
  }
  main .history table tr:first-child {
    /* border-radius: 15px; */
    padding: 10px;
    height: 40px;
  }

  main .history table tr th:first-child {
    /* background-color: #000; */
    border-radius: 10px 0 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  main {
    padding: 10px;
  }
  .introduction-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 240px;
  }
  .introduction-modal img {
    width: 140px;
  }
  .introduction-modal h1 {
    font-size: xx-large;
  }
  main .custom-row {
    margin-bottom: 15px;
  }
  main .analystics-data {
    padding: 0;
  }
  main .history {
    background-color: transparent;
    padding: 0;
  }
  main .custom-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content + .content {
    margin: 0;
    margin-top: 20px;
  }

  .responsive-table {
    display: flex;
    flex-direction: column;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 5px;
  }
  .responsive-table tbody + tbody {
    margin-top: 10px;
    height: 100%;
  }
  .responsive-table tbody {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;

    display: table;
    width: 100%;
    /* border-spacing: 0 10px; */
  }

  .table-container {
    display: none;
  }
  .hotels {
    display: none;
  }
  .responsive-hotels {
    display: block;
  }
  main .history table tr td {
    width: 50%;
  }

  main .history table tr th {
    border-radius: 5px;
    padding: 5px 20px;
  }
  header {
    flex-direction: column-reverse;
    align-items: baseline;
  }
  header .profile {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
header .profile {
  align-items: center;
  display: flex;
}
header .profile svg {
  color: #3468fc;
}
header .profile h4 {
  margin: 0;
}

header .profile div svg {
  margin-right: 7px;
  color: #7f8284;
}
header .profile div {
  display: flex;
  align-items: center;
}


#btnradio1 {
  width: 45px;
  height: 40px;
}

#btnradio2 {
  margin-left: 42px;
  width: 45px;
  height: 40px;
}

#btnradio3 {
  margin-left: 92px;
  width: 45px;
  height: 40px;
}

.item input {
  width: 110px;
  height: 130px;
}

#hotels {
  font-size: 15px;
}
