<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hurb Dashboard</title>
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="../global.styles.css" />
  </head>
  <body>
    <header>
      <h2>HURB DASHBOARD</h2>
      <div>
        <img src="../Assets/hurb-icon.svg" alt="" srcset="" />
      </div>
    </header>
    <main>
      <div class="card">
        <div class="top">
          <h2>D3</h2>
          <h2>15.000</h2>
        </div>
        <div class="info">
          <h4>Ultimos meses</h4>
          <div class="content">
            <div>
              <label for="">Agosto</label>
              <h2>R$ 22.000,00</h2>
            </div>
            <div>
              <label for="">Setembro</label>
              <h2>R$ 22.000,00</h2>
            </div>
            <div>
              <label for="">Média Agosto/Setembro</label>
              <h2>R$ 22.000,00</h2>
            </div>
            <div>
              <label for="">Média Anual</label>
              <h2>R$ 22.000,00</h2>
            </div>
          </div>
        </div>
        <div class="data">
          <h4>Proximos pagamentos</h4>
          <div class="content-payments">
            <div class="highlight">
              <h3>XX/XX/XXXX</h3>
              <h2>R$ XXX.XXX,XX</h2>
            </div>
            <div class="list">
              <table>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
              </table>
            </div>
          </div>
          <h4>Ranking</h4>

          <button class="card-ranking">
            <div>1º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <button class="card-ranking">
            <div>2º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <button class="card-ranking">
            <div>3º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <button class="card-ranking">
            <div>4º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <!-- <div class="content-region-list">
            <button class="accordion">
              <div>Rio Grande do Norte</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <div class="list">
                <table>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                </table>
              </div>
            </div>
            <button class="accordion">
              <div>São Paulo</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="accordion">
              <div>Rio de janeiro</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="accordion">
              <div>Minas Gerais</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div> -->
        </div>
        <div class="bottom">
          <div>
            <canvas id="HurbChartD3" width="150" height="60"></canvas>
          </div>
          <div>
            <h4>Rentabilidade</h4>
            <h2>R$ 22.000,00</h2>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="top">
          <h2>D7</h2>
          <h2>15.000</h2>
        </div>
        <div class="info">
          <h4>Ultimos meses</h4>
          <div class="content">
            <div>
              <label for="">Agosto</label>
              <h2>R$ 22.000,00</h2>
            </div>
            <div>
              <label for="">Setembro</label>
              <h2>R$ 22.000,00</h2>
            </div>
            <div>
              <label for="">Média Agosto/Setembro</label>
              <h2>R$ 22.000,00</h2>
            </div>
            <div>
              <label for="">Média Anual</label>
              <h2>R$ 22.000,00</h2>
            </div>
          </div>
        </div>
        <div class="data">
          <h4>Proximos pagamentos</h4>
          <div class="content-payments">
            <div class="highlight">
              <h3>XX/XX/XXXX</h3>
              <h2>R$ XXX.XXX,XX</h2>
            </div>
            <div class="list">
              <table>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
              </table>
            </div>
          </div>
          <h4>Ranking</h4>

          <button class="card-ranking">
            <div>1º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <button class="card-ranking">
            <div>2º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <button class="card-ranking">
            <div>3º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <button class="card-ranking">
            <div>4º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <!-- <div class="content-region-list">
            <button class="accordion">
              <div>Rio Grande do Norte</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <div class="list">
                <table>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                </table>
              </div>
            </div>
            <button class="accordion">
              <div>São Paulo</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="accordion">
              <div>Rio de janeiro</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div> -->
        </div>
        <div class="bottom">
          <div>
            <canvas id="HurbChartD7" width="150" height="60"></canvas>
          </div>
          <div>
            <h4>Rentabilidade</h4>
            <h2>R$ 22.000,00</h2>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="top">
          <h2>D15</h2>
          <h2>15.000</h2>
        </div>
        <div class="info">
          <h4>Ultimos meses</h4>
          <div class="content">
            <div>
              <label for="">Agosto</label>
              <h2>R$ 22.000,00</h2>
            </div>
            <div>
              <label for="">Setembro</label>
              <h2>R$ 22.000,00</h2>
            </div>
            <div>
              <label for="">Média Agosto/Setembro</label>
              <h2>R$ 22.000,00</h2>
            </div>
            <div>
              <label for="">Média Anual</label>
              <h2>R$ 22.000,00</h2>
            </div>
          </div>
        </div>
        <div class="data">
          <h4>Proximos pagamentos</h4>
          <div class="content-payments">
            <div class="highlight">
              <h3>XX/XX/XXXX</h3>
              <h2>R$ XXX.XXX,XX</h2>
            </div>
            <div class="list">
              <table>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
                <tr>
                  <td><div class="badge"></div></td>
                  <td>XX/XX/XXXX</td>
                  <td>R$ XXX.XXX,XXX</td>
                </tr>
              </table>
            </div>
          </div>
          <h4>Ranking</h4>

          <button class="card-ranking">
            <div>1º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <button class="card-ranking">
            <div>2º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <button class="card-ranking">
            <div>3º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <button class="card-ranking">
            <div>4º</div>
            <div>Hotel A</div>
            <div>20.000</div>
            <div>R$ XXXXXXXXXXXXXXX</div>
          </button>
          <!-- <div class="content-region-list">
            <button class="accordion">
              <div>Rio Grande do Norte</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <div class="list">
                <table>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                  <tr>
                    <td><div class="badge"></div></td>
                    <td>XX/XX/XXXX</td>
                    <td>R$ XXX.XXX,XXX</td>
                  </tr>
                </table>
              </div>
            </div>
            <button class="accordion">
              <div>São Paulo</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="accordion">
              <div>Rio de janeiro</div>
              <div>10%</div>
              <div>R$ XXXXXXXXXXXXXXX</div>
              <span></span>
            </button>
            <div class="panel">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div> -->
        </div>
        <div class="bottom">
          <div>
            <canvas id="HurbChartD15" width="150" height="60"></canvas>
          </div>
          <div>
            <h4>Rentabilidade</h4>
            <h2>R$ 22.000,00</h2>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
    <script src="./script.js"></script>
    <script>
      function getConfig(value, ctx) {
        var dataInfo = {
          labels: [],
          datasets: [
            {
              data: [value, 100 - value],
              backgroundColor: ["#3468FC"],
            },
          ],
        };

        var chartOptions = {
          rotation: -Math.PI,
          cutoutPercentage: 60,
          circumference: Math.PI,

          animation: {
            animateRotate: true,
          },
          legend: {
            display: false,
          },
          tooltips: {
            enabled: false,
          },
        };
        Chart.pluginService.register({
          beforeDraw: function (chart) {
            var width = chart.chart.width,
              height = chart.chart.height;

            ctx.restore();
            var fontSize = (height / 70).toFixed(2);
            ctx.font = fontSize + "em Montserrat";
            ctx.textBaseline = "middle";
            ctx.textColor = "#000";

            var text = value + " %",
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height - 12;

            ctx.fillText(text, textX, textY);
            ctx.save();
          },
        });

        return {
          type: "doughnut",
          data: dataInfo,
          options: chartOptions,
        };
      }

      function createChart(chartId, value) {
        var ctx = document.getElementById(chartId).getContext("2d");
        var customConfig = getConfig(value, ctx);
        new Chart(ctx, customConfig);
      }
      createChart("HurbChartD3", 20);
      createChart("HurbChartD7", 50);

      createChart("HurbChartD15", 30);
    </script>
  </body>
</html>
